@model List<Category>
<div class="list-group">
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">@category.Name</li>
        }
    </ul>
</div>

