<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Movie App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Movies/List">Movie List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/MovieList">Admin Movie List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/CategoryList">Category List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Movies/List">Search</a>
                </li>
            </ul>
                @using (Html.BeginForm("List", "Movies"))
                {
                    @Html.TextBox("Search")
                    <input type="submit" value="search" />
                }
        </div>
    </div>
</nav>