
<link rel="stylesheet" href="~/css/vote.css">
<div class="star-wrapper">
    <a href="#" class="fas fa-star s1"></a>
    <a href="#" class="fas fa-star s2"></a>
    <a href="#" class="fas fa-star s3"></a>
    <a href="#" class="fas fa-star s4"></a>
    <a href="#" class="fas fa-star s5"></a>
</div>
<script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>